In [1]:
# 
from glob import glob
import os

#
import numpy as np
import pandas as pd
import rasterio as rio # for dataset reading
import pyproj # for projection stuff
from affine import Affine # class for transform matrices

# for plotting
import cartopy.crs as ccrs # cartopy CRSs
import matplotlib.pyplot as plt
import matplotlib as mpl

# own stuff
import fire.dataloader as dlf

import fire.utils.modis as um
import fire.utils.io as uio

In [2]:
data_root = "../data/"

In [3]:
modis_paths = glob(os.path.join(data_root,"MOD*/**/*.hdf"), recursive=True)
modis_paths

['../data/MOD14A1.006/2019.04.23/MOD14A1.A2019113.h17v04.006.2019122035505.hdf']

In [4]:
all_fires = dlf.get_fires(modis_paths)
all_fires.head()

/home/jonas/anaconda3/envs/mt/lib/python3.7/site-packages/rasterio/__init__.py:219: NotGeoreferencedWarning: Dataset has no geotransform set. The identity matrix may be returned.
  s = DatasetReader(path, driver=driver, sharing=sharing, **kwargs)

         lat       lon  fire_val       date
0  43.537500 -5.833947         8 2019-04-28
1  43.537500 -5.822452         8 2019-04-28
2  42.354167 -3.647975         8 2019-04-28
3  42.595833 -1.454647         8 2019-04-30
4  42.045833 -8.298441         8 2019-04-30

In [5]:
all_fires.to_csv("fire/samples_fires.csv", index=False)

In [6]:
pd.read_csv("fire/samples_fires.csv").head()

         lat       lon  fire_val        date
0  43.537500 -5.833947         8  2019-04-28
1  43.537500 -5.822452         8  2019-04-28
2  42.354167 -3.647975         8  2019-04-28
3  42.595833 -1.454647         8  2019-04-30
4  42.045833 -8.298441         8  2019-04-30