In [1]:
# 
from glob import glob
import os

#
import numpy as np
import pandas as pd
import rasterio as rio # for dataset reading
import pyproj # for projection stuff
from affine import Affine # class for transform matrices

# for plotting
import cartopy.crs as ccrs # cartopy CRSs
import matplotlib.pyplot as plt
import matplotlib as mpl

# own stuff
import fire.dataloader as dlf

import fire.utils.modis as um
import fire.utils.io as uio

In [2]:
data_root = "/home/jonas/data/"

In [3]:
modis_paths = glob(os.path.join(data_root,"MOD*/**/*.hdf"), recursive=True)
print("Count:  ", len(modis_paths))
modis_paths[:5]

Count:   1900

['/home/jonas/data/MOD14A1.006/2017.09.30/MOD14A1.A2017273.h08v05.006.2017281233337.hdf',
 '/home/jonas/data/MOD14A1.006/2017.09.30/MOD14A1.A2017273.h27v07.006.2017281233132.hdf',
 '/home/jonas/data/MOD14A1.006/2017.09.30/MOD14A1.A2017273.h26v06.006.2017281233843.hdf',
 '/home/jonas/data/MOD14A1.006/2017.09.30/MOD14A1.A2017273.h17v04.006.2017281233524.hdf',
 '/home/jonas/data/MOD14A1.006/2015.02.18/MOD14A1.A2015049.h26v06.006.2015296142739.hdf']

In [ ]:
all_fires = dlf.get_fires(modis_paths)

/home/jonas/anaconda3/envs/mt/lib/python3.7/site-packages/rasterio/__init__.py:219: NotGeoreferencedWarning: Dataset has no geotransform set. The identity matrix may be returned.
  s = DatasetReader(path, driver=driver, sharing=sharing, **kwargs)

File /home/jonas/data/MOD14A1.006/2014.11.09/MOD14A1.A2014313.h27v07.006.2015292055041.hdf could not be read.
File /home/jonas/data/MOD14A1.006/2014.11.01/MOD14A1.A2014305.h27v07.006.2015292060824.hdf could not be read.

In [9]:
print(all_fires.shape)
all_fires.head()

(777118, 4)

         lat         lon  fire_val       date
0  39.770833 -120.775496       9.0 2017-09-30
1  39.762500 -120.771720       9.0 2017-09-30
2  39.762500 -120.760879       9.0 2017-09-30
3  39.762500 -120.750038       8.0 2017-09-30
4  39.329167 -121.711288       8.0 2017-09-30

In [10]:
csv_path = "fire/data/fires_since_2010.csv"
all_fires.to_csv(csv_path, index=False)

In [8]:
pd.read_csv(csv_path).head()

         lat         lon  fire_val        date
0  39.770833 -120.775496       9.0  2017-09-30
1  39.762500 -120.771720       9.0  2017-09-30
2  39.762500 -120.760879       9.0  2017-09-30
3  39.762500 -120.750038       8.0  2017-09-30
4  39.329167 -121.711288       8.0  2017-09-30