In [1]:
from sklearn.neighbors import KernelDensity
import pandas as pd
import numpy as np

import fire.utils.io as uio

In [16]:
fire_data = pd.read_csv("fire/samples_fires.csv")
fire_data.head()

         lat       lon  fire_val        date
0  43.537500 -5.833947         8  2019-04-28
1  43.537500 -5.822452         8  2019-04-28
2  42.354167 -3.647975         8  2019-04-28
3  42.595833 -1.454647         8  2019-04-30
4  42.045833 -8.298441         8  2019-04-30

In [2]:
tourism_data = pd.read_csv("tourism/data.csv")
tourism_data.head()

   Unnamed: 0        lat       lon   type subtype
0           0  41.875760 -8.838838  place    town
1           1  42.113041 -8.259342  place    town
2           2  41.940391 -8.743607  place    town
3           3  42.078702 -8.481390  place    town
4           4  42.027045 -8.642883  place    town

In [10]:
X = (
    tourism_data
    .query("type == 'tourism'")
    .loc[:,["lat","lon"]]
    .to_numpy()
)
X.shape

(3707, 2)

In [18]:
X = fire_data.loc[:, ["lat","lon"]].to_numpy()

In [32]:
X = tourism_data.loc[:, ["lat","lon"]].to_numpy()

In [18]:
kde = KernelDensity(metric="haversine", bandwidth=.1)
kde.fit(X)

KernelDensity(algorithm='auto', atol=0, bandwidth=0.1, breadth_first=True,
              kernel='gaussian', leaf_size=40, metric='haversine',
              metric_params=None, rtol=0)

In [19]:
np.exp(kde.score_samples(X[:100]))

array([1.33181801, 2.23826238, 1.29549759, 1.09744336, 0.90908994,
       0.94008518, 2.03852754, 0.7282986 , 1.26093771, 1.27479427,
       1.22257655, 1.23784958, 2.06560794, 2.07206497, 2.06941783,
       2.17941532, 0.74571355, 0.56316085, 0.59255366, 2.18095897,
       2.07750168, 2.07238053, 2.05834454, 2.18182987, 1.46739502,
       1.52272562, 0.68042309, 1.9345852 , 0.34516623, 0.3245592 ,
       0.36845426, 0.36826196, 1.2278001 , 1.22645298, 1.23974906,
       0.5020943 , 0.37949646, 0.99997699, 0.15324454, 0.16018421,
       0.16067914, 0.16069251, 0.15763724, 0.93683063, 0.93394744,
       0.78555529, 0.78466591, 1.42129259, 1.43127206, 0.94786934,
       0.17555193, 0.17516531, 0.31511639, 1.90270142, 1.72410342,
       1.86820389, 0.54472895, 0.5432865 , 1.4801853 , 0.81689772,
       0.68752085, 0.38718309, 0.67013031, 1.04908047, 1.05234537,
       2.02181247, 0.64334353, 1.04183365, 2.19925002, 2.19700888,
       0.30262165, 0.27086521, 0.15642905, 0.44991447, 0.44632293,
       0.66997306, 0.97825523, 0.98656228, 0.45925509, 0.74971806,
       0.74939152, 0.72937559, 1.07995449, 1.07987571, 0.61618307,
       0.25295408, 0.3639539 , 0.97790665, 1.31886262, 1.31806595,
       2.17858177, 2.17951188, 2.17094657, 2.17278575, 2.17667749,
       0.10345895, 1.48468197, 1.48456825, 0.42799399, 0.2318229 ])

In [20]:
np.exp(kde.score_samples(np.array([[0,-10]])))

array([2.00807241e-25])

In [ ]:
# hyperparameter
# bandwidth
# different bandwidths for diff. types / subtypes